/* 
    Document   : pawon
    Created on : Mar 20, 2013, 6:54:50 AM
    Author     : kris
    Description:
        Purpose of the stylesheet follows.
*/

.old {
    background-color: #FF324F !important;
    background-image: none !important;
    color: #000000 !important;
}   
