<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
            .noBorders tr, .noBorders td {
                background: none !important;
                border: none !important;
            }
        </style>      
        <script type="text/javascript">
            function exportChart() {
                //export image  
                if ($("#reportForm\\:barChart").is(':visible')) {
                    $("#img").attr("src", barChart.exportAsImage()['src']);

                } else {
                    $("#img").attr("src", pieChart.exportAsImage()['src']);
                }
                dlg.show();
            }

            function formatter() {
                setTimeout(formatAxisNumbers, 2000);
                this.cfg.axes.yaxis.tickOptions = {
                    formatString: '%d'
                };

            }

            function formatAxisNumbers() {
                barChart.plot.resetAxesScale();
                barChart.plot.replot();
            }
        </script>
    </ui:define>

    <ui:define name="content">

        <h1 class="title">Visual Order Report</h1>
        <div class="entry">
            <h:form id="reportForm">
                <p:growl id="growl"/> 
                <p:panelGrid styleClass="noBorders">

                    <p:row>  
                        <p:column  style="float: right;padding-top: 10px" > 
                            <p:panel>
                                <p:panelGrid columns="1"  >
                                    <f:facet name="header">
                                        <h:outputText value="Customize"/>
                                    </f:facet>

                                    <h:outputText value="Date"/>
                                    <p:calendar id="startDate" showOn="button" value="#{purchaseReport.startDate}" pattern="dd/MM/yyyy" size="15" maxdate="#{purchaseReport.endDate}">
                                        <p:ajax update="reportForm" event="dateSelect" listener="#{purchaseReport.changeStartDate}" />
                                    </p:calendar>
                                    <h:outputText value="to"/>
                                    <p:calendar showOn="button"  value="#{purchaseReport.endDate}" pattern="dd/MM/yyyy" size="15"  maxdate="#{purchaseReport.maxDate}">
                                        <p:ajax update="reportForm" event="dateSelect" listener="#{purchaseReport.changeEndDate}" />
                                    </p:calendar>
                                    <h:outputText value="Model"/>
                                    <p:selectOneMenu id="chartModel" value="#{purchaseReport.chartModel}" style="width:140px;"> 
                                        <p:ajax event="change" listener="#{purchaseReport.changeChartModel}" update="reportForm"/>
                                        <f:selectItem itemValue="barChart" itemLabel="Bar Chart" /> 
                                        <f:selectItem itemValue="pieChart" itemLabel="Pie Chart" />                                        
                                    </p:selectOneMenu>                                     
                                    <p:commandButton type="button" value="Export" icon="ui-icon-extlink" onclick="exportChart();"/>  
                                    <p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image">  
                                        <img id="img" width="100%" height="100%" style="background: white;"/>
                                    </p:dialog> 
                                </p:panelGrid>
                            </p:panel>
                        </p:column>

                        <p:column >
                            <p:barChart id="barChart" 
                                        legendPosition="ne" 
                                        min="0" 
                                        title="Purchase Item"
                                        animate="true" 
                                        value="#{purchaseReport.barModel}"
                                        style="width:800px ;height:500px" 
                                        orientation="vertical"
                                        rendered="#{purchaseReport.barChartRendered}"
                                        widgetVar="barChart" extender="formatter"  >                            
                            </p:barChart>

                            <p:pieChart id="pieChart" 
                                        legendPosition="w" 
                                        value="#{purchaseReport.pieModel}" 
                                        rendered="#{purchaseReport.pieChartRendered}"
                                        title="Purchase Item" 
                                        style="width:800px ;height:500px;" 
                                        showDataLabels="true"                                        
                                        widgetVar="pieChart">
                            </p:pieChart>

                        </p:column>
                    </p:row>

                </p:panelGrid>

                <p:confirmDialog header="Oooops!!!" severity="alert" 
                                 visible="#{not empty param['expired']}" 
                                 message="View has expired." widgetVar="confirmDlg">
                    <p:commandButton type="button" value="OK" onclick="confirmDlg.hide()" />
                </p:confirmDialog>

            </h:form>

        </div>



    </ui:define>
</ui:composition>