<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">




    <script type="text/javascript">

        function handlePlaylist(src) {
            $('#galleria').attr("src", src);
            $("#slideshowHolder").show("slide", {percent: 100}, 500, function() {
            });
        }


    </script>

    <p:socket onMessage="handlePlaylist" channel="/player" />

    <h:form id="formGalleria" >              
         
        <div id='slideshowHolder'>
            <img id="galleria" width="100%" height="100%" src="#{playerController.image}"/>
        </div> <p:poll id="pollGalleria"  partialSubmit="true" async="true" interval="#{playerController.interval}" update="formGalleria"/>    
    </h:form>

</ui:composition>