<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:sec="http://www.springframework.org/security/facelets/tags">

    <f:view contentType="text/html">

        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Pawon | Restaurant</title>
            </f:facet>

            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/pawon.css" />
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/default.css" />
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/syntaxhighlighter/syntaxhighlighter.css" />

            <ui:insert name="head"></ui:insert>

            <script type="text/javascript">


            </script>        
        </h:head>

        <h:body onload="loginDialog.show();">

            <div id="header" class="ui-widget ui-widget-header" style="padding-left: 10px; ">
                <div id="logo">
                    <img src="#{request.contextPath}/images/logo.jpg" alt="Logo" height="100px" style="padding-top: 2px;"/>                    
                </div>

                <div id="menu" class="ui-widget" >
                    <ul id="main" >
                        <p class="copyright">Pawon Version 1.0.0</p>
                    </ul>
                </div>

            </div>

            <div id="page" class="ui-widget"> 

                <div id="content">
                    <p:growl widgetVar="growl" showDetail="true" life="10000"/>
                    <p:dialog id="loginDlg" header="Login" widgetVar="loginDialog" modal="true" 
                              showEffect="clip" hideEffect="clip" closable="false" 
                              >  
                        <h:form  prependId="false">
                            <c:if test="${message!=null}">
                                <p:message for="error" display="text" />
                                <h:outputText value="${message}" id="error"/>  
                            </c:if>
                            <p:panel id="panel"  style="width: 100%;border-style: dashed;" >
                                <p:panelGrid  style="margin-top:20px;border-style : hidden !important;">
                                    <p:row> 
                                        <p:column style="width: 20%;font-weight: bold;">Username</p:column>  
                                        <p:column style="width: 80%;">
                                            <p:inputText id="j_username" required="true" style="width: 100%"  >
                                                <f:validateLength minimum="2" maximum="255"/>
                                            </p:inputText>
                                            <p:message for="j_username" display="text"/>
                                        </p:column>
                                    </p:row>     

                                    <p:row> 
                                        <p:column style="width: 20%;font-weight: bold;">Password</p:column>  
                                        <p:column style="width: 80%;">
                                            <p:inputText id="j_password" type="password"  required="true" style="width: 100%"  >
                                                <f:validateLength minimum="2" maximum="255"/>
                                            </p:inputText>
                                            <p:message for="j_password" display="text"/>
                                        </p:column>
                                    </p:row> 
                                    <p:row> 
                                        <p:column style="width: 20%;font-weight: bold;"></p:column>  
                                        <p:column style="width: 80%;text-align: right">
                                            <p:commandButton  value="Login" action="#{loginForm.actionLogin}" ajax="false"  update="growl"/>  
                                        </p:column>
                                    </p:row> 
                                </p:panelGrid>

                            </p:panel>


                        </h:form>
                    </p:dialog>


                </div>

                <div style="clear: both;">&nbsp;</div>
            </div>


            <ui:insert name="status">
                <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">
                    <f:facet name="start">
                        <p:graphicImage value="/images/loading.gif" />
                    </f:facet>

                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
            </ui:insert>

        </h:body>

        <ui:insert name="highlight">
            <script language="javascript" src="#{request.contextPath}/syntaxhighlighter/scripts/sh.js"></script>
            <script language="javascript">
                dp.SyntaxHighlighter.ClipboardSwf = '#{request.contextPath}/syntaxhighlighter/scripts/clipboard.swf';
                dp.SyntaxHighlighter.HighlightAll('code');
            </script>
        </ui:insert>

    </f:view>
</html>
