<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/facelets/tags"
      template="../templates/ui.xhtml">

    <f:view contentType="text/html">

        <h:head>
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/default.css" />
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/syntaxhighlighter/syntaxhighlighter.css" />
            <script src="#{request.contextPath}/js/gistfile1.js"></script>
            <style>

                .ui-layout-resizer, .ui-layout-resizer-north, .ui-layout-resizer-open, .ui-layout-resizer-north-open{ 
                    height:0px !important; 
                }


                .ui-layout-unit-content{
                    background: white;
                }
            </style>
            <script type="text/javascript">

                function handlePlaylist(src) {
                    $('#galleria').attr("src", src);
                    $("#slideshowHolder").show("slide", {percent: 100}, 500, function() {
                    });
                }

                function handleMessage(text) {
                    console.log(text);
//                    $("#text").empty();
//                    $("#text").append(text);

                    //document.getElementById('runningText').stop();
                    // $('marque').stop;
                    //$('#runningText').empty();
                    $('#runningText').append(text);
                    //$('marque').start;
                    //  document.getElementById('runningText').start();
                }
            </script>
        </h:head>

        <h:body>

            <p:growl widgetVar="growl" showDetail="true" life="10000"/>


            <p:layout fullPage="true" style="padding: 0px !important;background: black;" resizeTitle="false"   >

                <p:layoutUnit position="center" style="border-style: none;padding: 0px !important;" resizable="false" gutter="0"  closable="false">
                    <ui:include src="galleria.xhtml" />
                </p:layoutUnit>

                <p:layoutUnit position="south" size="90" style="border-style: none;padding: 0px !important;background: black;" resizable="false" gutter="0" closable="false">
                    <ui:include src="ticker.xhtml" />
                </p:layoutUnit>

            </p:layout>

            <div style="clear: both;">&nbsp;</div>

            <ui:insert name="status">
                <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">
                    <f:facet name="start">
                        <p:graphicImage value="/images/loading.gif" />
                    </f:facet>

                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
            </ui:insert>

        </h:body>



    </f:view>
</html>


