<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">




    <h:form id="formMessage" prependId="true" >              
        <p:poll id="pollMessage"  partialSubmit="true" update="formMessage" interval="60"/>    
        <font size="10" face="courier" color="black">
            <marquee id="runningText" behavior="scroll" direction="left">#{playerController.message}</marquee>
        </font>
    </h:form>

</ui:composition>