<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            body {
                padding:0;
                margin:0;
            }

            .top {
                filter:alpha(opacity=50);
                opacity:0.8;
                padding:50px 0 0 50px;
            }
            .dataList .ui-datalist-data {
                border: none;
                background: transparent;
                background-image: none;
                width: 95%;
            }

            .dataList .ui-datalist-content {
                border: none;
                background: transparent;
                background-image: none;
            }

        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                //$("#page").remove();
                //toggleColor($("panel"));
            });
            function handleMessage(facesmessage) {
                updateRoom();
                facesmessage.severity = 'info';
                document.getElementById('video').play();
                growl.show([facesmessage]);
            }

        </script>


    </ui:define>

    <ui:define name="content">      
        <div class="entry" >
            <p:growl widgetVar="growl" showDetail="true" life="10000"/>
            <video src="#{notification.applicationMediaURL}notification.wav" id="video" hidden="true"/>
            <p:socket onMessage="handleMessage" channel="/notifications" />

            <h:form id="form">               
                <p:dataTable id="notificationTable"  
                             var="purchase" 
                             value="#{notification.purchases}" 
                             widgetVar="notificationTable"
                             >  
<!--                    <p:ajax event="rowToggle" listener="#{notification.onSelectToggle}" />-->

<!--                    <f:param name="purchase" value="#{purchase.id}"/>-->
                    <f:facet name="header">  
                        expand rows to see purchase detail information  
                    </f:facet> 
                    <p:column style="width:1%">  
                        <p:rowToggler>

                        </p:rowToggler>  
                    </p:column>  
                    <p:column style="width:49%;">  
                        <f:facet name="header">  
                            Table Name  
                        </f:facet>  
                        <h:outputText value="#{purchase.room.name}" />  
                    </p:column>
                    <p:rowExpansion>                        
                        <p:dataList styleClass="dataList" value="#{purchase.purchaseItems}" var="purchaseItem" type="ordered" style="width: 10%;">  
                            #{purchaseItem.name}
                            (-<c:set var="discount" value="#{(purchaseItem.discount/100)*purchaseItem.price}"/>
                            <h:outputText value="#{discount}">
                                <f:convertNumber type="currency"  currencySymbol="" /> 
                            </h:outputText>)               

                            <span style="float: right">
                                <h:outputText value="#{purchaseItem.price}">
                                    <f:convertNumber type="currency"  currencySymbol=""/> 
                                </h:outputText>
                            </span>
                            <br></br>

                            <p:dataList value="#{purchaseItem.purchaseOptions}" var="purchaseOption" rendered="#{fn:length(purchaseItem.purchaseOptions) > 0}">  
                                #{purchaseOption.name}
                                (+<h:outputText value="#{purchaseOption.price}">
                                    <f:convertNumber type="currency"  currencySymbol=""/>                               
                                </h:outputText>)
                            </p:dataList>
                            <br></br>
                            <p:column>
                                <span style="float: right;">
                                    <p:commandButton  icon="ui-icon-trash" action="#{notification.actionCancel}" ajax="false"  >
                                        <f:param value="#{purchaseItem.id}" name="purchaseItemId" />
                                        <f:param value="#{purchase.id}" name="purchaseId" /> 
                                    </p:commandButton>
                                </span>
                            </p:column>
                            <br></br><br></br><br></br>
                        </p:dataList> 

                        <span style="float: right;">                   
                            Discount :
                            <h:outputText value="#{purchase.totalDiscount}">
                                <f:convertNumber type="currency"  currencySymbol=""/>                               
                            </h:outputText>
                        </span>
                        <br></br>
                        <span style="float: right;">
                            Purchase :
                            <h:outputText value="#{purchase.totalPrice}">
                                <f:convertNumber type="currency"  currencySymbol=""/>                               
                            </h:outputText>
                        </span>
                        <br></br><br></br>
                        <p:toolbar style="width: 100%;">  
                            <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                                <p:commandButton  value="Done" action="#{notification.actionSave}" ajax="true" immediate="true" >
                                    <f:param value="#{purchase.id}" name="purchaseId" /> 
                                </p:commandButton>
                                <p:commandButton  value="Delete" action="#{notification.actionDelete}" ajax="true"  immediate="true">
                                    <f:param value="#{purchase.id}" name="purchaseId" /> 
                                </p:commandButton>
                            </p:toolbarGroup>
                        </p:toolbar>

                    </p:rowExpansion>  

                </p:dataTable>

                
                <p:remoteCommand name="updateRoom" update="notificationTable" actionListener="#{notification.updateRoom}" />
                   

            </h:form>
        </div>
    </ui:define>
</ui:composition>

