<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
        <style>
            .ui-paginator {
                <!--text-align: right ! important -->
            }
            .ui-growl {
                position: absolute;
                right : 38%;               
                top: 1%;                
            }   
            .dataList .ui-datalist-data {
                border: none;
                background: transparent;
                background-image: none;
                width: 95%;
            }

            .dataList .ui-datalist-content {
                border: none;
                background: transparent;
                background-image: none;
            }
        </style>
        <script type="text/javascript">
            function handleSearchRequest(xhr, status, args) {
                if (args.validationFailed || !args.found) {
                    jQuery('#searchDlg').effect("shake", {times: 3}, 100);
                } else {
                    searchDialog.hide();
                    jQuery('#').fadeOut();
                }
            }
        </script>  
    </ui:define>

    <ui:define name="content">      
        <p:growl id="growl"/> 
        <div class="entry" >
            <h:form id="form" >
                <p:dataTable id="dataTable" 
                             var="purchase"
                             paginator="true"
                             rows="15"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="15,30,50"                                                      
                             emptyMessage="No data found with given criteria"
                             widgetVar="tabelItem"  
                             paginatorPosition="top" 
                             tableStyle=""
                             selection="#{purchaseList.selectedPurchase}"
                             value="#{purchaseList.dataModel}"
                             lazy="true"
                             >

                    <f:facet name="header">
                        <p:toolbar style="width: 100%;border-style: none">  
                            <p:toolbarGroup align="left" >
                                <h1 class="title">Purchases</h1>
                            </p:toolbarGroup>
                            <p:toolbarGroup align="right" style="padding-top: 1%;" >     
                                <p:separator />
                                <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete="searchDialog.show();" update="dataTable" />
                                <p:separator />
                            </p:toolbarGroup>                        
                        </p:toolbar>
                    </f:facet>

                    <p:column headerText="Order No."  style="width: 10%;text-align: center" >                      
                        <h:outputText value="#{purchase.orderNumber}" />
                    </p:column>

                    <p:column headerText="Table Name" sortBy="#{purchase.room.name}" style="" >                      
                        <h:outputText value="#{purchase.room.name}" />
                    </p:column>

                    <p:column headerText="Date Purchases" style="text-align: center" sortBy="#{purchase.datePurchase}">
                        <h:outputText value="${purchase.datePurchase}" />
                    </p:column>

                    <p:column style="width: 50px;text-align: center">                       
                        <p:commandLink update=":formDetail" title="View Purchase Item" oncomplete="detailDialog.show();"  styleClass="ui-icon ui-icon-search" >
                            <f:setPropertyActionListener value="#{purchase}" 
                                                         target="#{purchaseList.selectedPurchase}" />
                        </p:commandLink>
                    </p:column>

                    <f:facet name="footer" > 
                        Total Data : #{purchaseList.dataModel.rowCount}
                    </f:facet>
                </p:dataTable>               
            </h:form>

            <p:dialog id="detail" header="Purchase Detail" widgetVar="detailDialog" modal="true" width="900px" showEffect="clip" hideEffect="clip">  
                <h:form id="formDetail" >  
                    <p:panelGrid style="border-style : hidden !important;padding-bottom: 10px;">
                        <p:row>  
                            <p:column style="border-style : hidden !important;width: 15%;text-align: left;"><h:outputLabel value="Order No." /></p:column> 
                            <p:column style="border-style : hidden !important;">: <h:outputText value="#{purchaseList.selectedPurchase.orderNumber}" /></p:column>                               
                        </p:row>
                        <p:row>  
                            <p:column style="border-style : hidden !important;width: 15%;text-align: left;"><h:outputLabel value="Table Name" /></p:column> 
                            <p:column style="border-style : hidden !important;">: <h:outputText value="#{purchaseList.selectedPurchase.room.name}" /></p:column>                               
                        </p:row>
                        <p:row>  
                            <p:column style="border-style : hidden !important;width: 15%;text-align: left;"><h:outputLabel value="Date Purchase" /></p:column> 
                            <p:column style="border-style : hidden !important;">: <h:outputText value="#{purchaseList.selectedPurchase.datePurchase}" /></p:column>                               
                        </p:row>
                        <p:row>
                            <p:column style="border-style : hidden !important;width: 15%;text-align: left;float: left;border-style: none;">  <h:outputLabel value="Items" />  </p:column> 
                            <p:column style="border-style : hidden !important;">
                                <p:dataTable  value="#{purchaseList.selectedPurchase.purchaseItems}" 
                                              var="purchaseItem"                                       
                                              scrollable="true" 
                                              scrollHeight="250px;"                                             >  

                                    <p:column style="width:5%;">  
                                        <p:rowToggler rendered="#{fn:length(purchaseItem.purchaseOptions) > 0}"></p:rowToggler>
                                    </p:column>

                                    <p:column style="width:60%;">  
                                        <f:facet name="header">  
                                            Item Name
                                        </f:facet>  
                                        #{purchaseItem.name}
                                    </p:column>

                                    <p:column style="width:12%;text-align: right;">  
                                        <f:facet name="header">  
                                            Price
                                        </f:facet>  
                                        <h:outputText value="#{purchaseItem.price}">
                                            <f:convertNumber type="currency"  currencySymbol=""/> 
                                        </h:outputText>
                                    </p:column>

                                    <p:column style="width:12%;text-align: right">  
                                        <f:facet name="header">  
                                            Discount
                                        </f:facet>  
                                        <c:set var="discount" value="#{(purchaseItem.discount/100)*purchaseItem.price}"/>
                                        <h:outputText value="#{discount}">
                                            <f:convertNumber type="currency"  currencySymbol=""/> 
                                        </h:outputText>
                                    </p:column>

                                    <p:column style="width:12%;text-align: right">  
                                        <f:facet name="header">  
                                            Total
                                        </f:facet>  
                                        <h:outputText value="#{purchaseItem.price - discount}">
                                            <f:convertNumber type="currency"  currencySymbol=""/> 
                                        </h:outputText>
                                    </p:column>

                                    <p:rowExpansion  >        
                                        <p:dataList styleClass="dataList" value="#{purchaseItem.purchaseOptions}" var="purchaseOption" >  
                                            #{purchaseOption.name}
                                            <span style="float: right">
                                                <h:outputText value="#{purchaseOption.price}">
                                                    <f:convertNumber type="currency"  currencySymbol=""/>                               
                                                </h:outputText>
                                            </span>
                                        </p:dataList>
                                    </p:rowExpansion>

                                </p:dataTable> 

                            </p:column> 
                        </p:row>

                        <p:row>  
                            <p:column style="border-style : hidden !important;text-align: right;"></p:column> 
                            <p:column style="border-style : hidden !important;text-align: right;">
                                <h4 style="text-align: right;padding-right: 20px">
                                    Discount : 
                                    <h:outputText value="#{purchaseList.selectedPurchase.totalDiscount}">
                                        <f:convertNumber type="currency"  currencySymbol=""/>                               
                                    </h:outputText> 
                                </h4>
                                <h4 style="text-align: right;padding-right: 20px">
                                    Purchase :
                                    <h:outputText value="#{purchaseList.selectedPurchase.totalPrice}">
                                        <f:convertNumber type="currency"  currencySymbol=""/>                               
                                    </h:outputText>                               
                                </h4>
                            </p:column>                               
                        </p:row>

                        <f:facet name="footer">                             
                            <p:row>  
                                <p:column  colspan="4" style="text-align: right;border-style : hidden !important;">  
                                    <p:commandButton  value="Export" icon="ui-icon-extlink" action="#{purchaseList.actionExport}" ajax="false" oncomplete="detailDialog.hide();" >
                                        <f:param value="#{purchase.id}" name="purchaseId" /> 
                                    </p:commandButton>
                                    <p:commandButton  value="Print" ajax="true" icon="ui-icon-print" action="#{purchaseList.actionPrint}" oncomplete="detailDialog.hide();" >
                                        <f:param value="#{purchase.id}" name="purchaseId" /> 
                                    </p:commandButton>
                                </p:column>  
                            </p:row>  
                        </f:facet>  
                    </p:panelGrid>
                </h:form>  

            </p:dialog> 

            <p:dialog id="searchDlg" header="Search" widgetVar="searchDialog" modal="true" showEffect="clip" hideEffect="clip" >  
                <h:form id="formSearch" >  
                    <h:panelGrid columns="2" cellpadding="5"> 
                        <h:outputLabel for="orderNo" value="Order No." />  
                        <p:inputText value="#{purchaseList.searchOrderNoKey}" id="orderNo" size="15" />  

                        <h:outputLabel for="roomName" value="Table Name" />  
                        <p:inputText value="#{purchaseList.searchRoomNameKey}" id="roomName" size="15" />  

                        <h:outputLabel value="Start Date" />  
                        <p:calendar showOn="button"  value="#{purchaseList.startDate}" pattern="dd/MM/yyyy" size="15"  maxdate="#{purchaseList.maxDate}"/>

                        <h:outputLabel value="End Date" />  
                        <p:calendar showOn="button"  value="#{purchaseList.endDate}" pattern="dd/MM/yyyy" size="15"  maxdate="#{purchaseList.maxDate}"/>

                        <f:facet name="footer">  
                            <p:commandButton id="searchButton" value="Search" update=":form:dataTable"
                                             action="#{purchaseList.actionSearch}"   
                                             oncomplete="handleSearchRequest(xhr, status, args)"/>  
                        </f:facet>  
                    </h:panelGrid>  
                </h:form>  
            </p:dialog> 


        </div>

    </ui:define>
</ui:composition>

