<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }      
            .ui-paginator {
                <!--text-align: right ! important -->
            }
            .ui-growl {
                position: absolute;
                right : 38%;               
                top: 1%;                
            }
            .ui-treetable .ui-treetable-data table tr{
                border-style: none;
            }
        </style>
        <script type="text/javascript">
            function handleSearchRequest(xhr, status, args) {
                if (args.validationFailed || !args.found) {
                    jQuery('#modalDialog').effect("shake", {times: 3}, 100);
                } else {
                    searchDialog.hide();
                    jQuery('#').fadeOut();
                }
            }
        </script>  
    </ui:define>

    <ui:define name="content">      

        <div class="entry" >
            <h:form id="form">
                <p:growl id="messages"/> 
                <p:treeTable id="treeTable" value="#{itemCategoryList.root}" var="itemCategory" selectionMode="single" 
                             selection="#{itemCategoryList.selectedNode}" style="border-style: none">

                    <f:facet name="header">
                        <p:toolbar style="width: 100%;border-style: none">  
                            <p:toolbarGroup align="left" >
                                <h1 class="title">Categories</h1>
                            </p:toolbarGroup>                          
                            <p:toolbarGroup align="right" style="padding-top: 1%;" >                       
                                <p:selectOneMenu id="section" 
                                                 value="#{itemCategoryList.purchaseSection}" 
                                                 converter="#{purchaseSectionConverter}" 
                                                 style="width:150px;float: right;">

                                    <f:selectItems value="#{itemCategoryList.purchaseSections}"  
                                                   var="purchaseSection" 
                                                   noSelectionValue="true"
                                                   itemValue="#{purchaseSection}" 
                                                   itemLabel="#{purchaseSection}" />
                                    <p:ajax update="treeTable"  listener="#{itemCategoryList.changeSelectedSection}" /> 
                                </p:selectOneMenu>   
                                <br></br><br></br>
                                <p:commandButton id="newBtn" value="New" icon="ui-icon-document" action="#{itemCategoryList.actionForm}" ajax="false" />
                                <p:commandButton  value="Delete" icon="ui-icon-trash" onclick="confirmDelete.show();" />
                                <p:commandButton  value="Edit" title="Edit" icon="ui-icon-pencil" action="#{itemCategoryList.actionEdit}" update="@(@[id=growl])"/>
                                <p:separator />
                                <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete=""  />
                            </p:toolbarGroup>
                        </p:toolbar>
                    </f:facet>

                    <p:column style="width:80%" >
                        <f:facet name="header" >
                            Name
                        </f:facet>
                        <h:outputText value="#{itemCategory.name}" />
                    </p:column>

                    <p:column style="text-align: center" >
                        <f:facet name="header">
                            Active
                        </f:facet>
                        <h:outputText value="${itemCategory.active ? 'Yes' : 'No'}" />
                    </p:column>

                    <p:column style="width:5%;text-align: center" >
                        <f:facet name="header">
                            Order
                        </f:facet>
                        <h:outputText value="#{itemCategory.orderNumber}" />
                    </p:column>

                    <p:column style="width:5%;text-align: center">
                        <f:facet name="header">
                            Picture
                        </f:facet>
                        <p:graphicImage 
                            id="picture"
                            library="images"
                            name="lec/thumbnails.png"
                            rendered="#{itemCategory.image != null}"
                            >
                        </p:graphicImage>                                             

                        <p:overlayPanel for="picture" showEffect="blind" hideEffect="explode" showEvent="mouseover" hideEvent="mousedown"  
                                        styleClass="ui-helper-clearfix" rendered="#{itemCategory.image != null}">  
                            <p:graphicImage 
                                value="#{itemCategoryList.applicationMediaURL}#{itemCategory.image}" 
                                width="300"  />  
                        </p:overlayPanel>  
                    </p:column>

                    <p:column style="width:5%;text-align: center">
                        <f:facet name="header">
                            Logo
                        </f:facet>
                        <p:graphicImage 
                            id="logo"
                            library="images"
                            name="lec/thumbnails.png"
                            rendered="#{itemCategory.logo != null}"
                            >
                        </p:graphicImage>                                             

                        <p:overlayPanel for="logo" showEffect="blind" hideEffect="explode" showEvent="mouseover" hideEvent="mousedown"  
                                        styleClass="ui-helper-clearfix" rendered="#{itemCategory.logo != null}">  
                            <p:graphicImage 
                                value="#{itemCategoryList.applicationImageURL}#{itemCategory.logo}" 
                                width="300"  />  
                        </p:overlayPanel>                       
                    </p:column>

                    <p:column style="width: 100px;text-align: center">
                        <f:facet name="header">
                            Items
                        </f:facet>
                        <p:commandLink update=":formItem" oncomplete="itemDialog.show();" title="View Items" styleClass="ui-icon ui-icon-search" >
                            <f:setPropertyActionListener value="#{itemCategory}" target="#{itemCategoryList.selectedItemCategory}" />
                        </p:commandLink>
                    </p:column>

                </p:treeTable>

                <p:confirmDialog id="confirmDelete" message="Are you sure about destroying the data ?"  
                                 header="Initiating destroy process" severity="alert" widgetVar="confirmDelete">  

                    <p:commandButton id="confirm" value="Yes" update="@(@[id=growl])" oncomplete="confirmDelete.hide()"  
                                     action="#{itemCategoryList.actionDelete}"  />  
                    <p:commandButton id="decline" value="No" onclick="confirmDelete.hide();" type="button" />   

                </p:confirmDialog>  

            </h:form> 

            <p:dialog id="item" header="Items" widgetVar="itemDialog" modal="true" width="900px" showEffect="clip" hideEffect="clip" > 
                <h:form id="formItem" >                  
                    <p:dataTable  value="#{itemCategoryList.items}" 
                                  var="item"                                       
                                  scrollable="true" 
                                  scrollHeight="350px;" 
                                  >  

                        <p:column style="width:60%;">  
                            <f:facet name="header">  
                                Name
                            </f:facet>  
                            #{item.name}
                        </p:column>

                        <p:column style="width:6%;text-align: center">  
                            <f:facet name="header">  
                                Active
                            </f:facet>  
                            <h:outputText value="${item.active ? 'Yes' : 'No'}"/>
                        </p:column>

                        <p:column style="width:10%;text-align: right;">  
                            <f:facet name="header">  
                                Price
                            </f:facet>  
                            <h:outputText value="#{item.price}">
                                <f:convertNumber type="currency"  currencySymbol=""/> 
                            </h:outputText>
                        </p:column>

                        <p:column style="width:8%;text-align: right">  
                            <f:facet name="header">  
                                Discount
                            </f:facet>                                 
                            <h:outputText value="#{item.discount}">
                                <f:convertNumber type="currency"  currencySymbol=""/> 
                            </h:outputText>
                        </p:column>

                    </p:dataTable> 



                </h:form>  
            </p:dialog> 

        </div>



    </ui:define>
</ui:composition>

