<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }            
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="entry" >
            <p:fieldset legend="Form Category">  
                <h:form id="form" enctype="multipart/form-data">
                    <p:panel id="panel"  style="width: 100%;border-style: dashed;">
                        <p:panelGrid  style="margin-top:20px;border-style : hidden !important;">
                            <p:row> 
                                <p:column style="font-weight: bold;">Active</p:column>  
                                <p:column style="width: 100%;">
                                    <p:selectBooleanCheckbox id="active" value="#{itemCategoryForm.itemCategory.active}"/>
                                </p:column>
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;border-style: none;">Parent Category</p:column>  
                                <p:column >     
                                    <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete="searchDialog.show()"  immediate="true"/>
                                    <p:spacer width="10;"/>
                                    <h:outputLabel id="lblParentName" value="#{itemCategoryForm.parentItemCategory.name}"/>
                                </p:column>
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;">Name</p:column>  
                                <p:column>
                                    <p:inputText id="name" value="#{itemCategoryForm.itemCategory.name}" required="true" style="width: 80%" >
                                        <f:validateLength minimum="2" maximum="255"/>
                                    </p:inputText>
                                    <p:message for="name" display="text"/>
                                </p:column> 
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;">Order Number</p:column>  
                                <p:column>
                                    <p:inputText id="orderNumber" value="#{itemCategoryForm.itemCategory.orderNumber}" required="true">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:inputText>
                                    <p:message for="orderNumber" display="text"/>
                                </p:column>
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none">Description</p:column>  
                                <p:column>
                                    <p:tabView id="tabView" binding="#{itemCategoryForm.tabView}" style="width: 100%;border-right: hidden;border-left: hidden;border-bottom: hidden;">

                                    </p:tabView>  
                                </p:column> 
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none;width: 100px;">Image</p:column>  
                                <p:column>
                                    <p:panelGrid style="border-style : hidden !important;" >
                                        <p:row > 
                                            <p:column>         
                                                <h:outputLabel value="Picture" style="font-weight: bold"/>
                                                <p:separator style="border-style: dashed"/>
                                                <p:fileUpload value="${itemCategoryForm.uploadedImage}"
                                                              mode="simple" 
                                                              sizeLimit="100000" 
                                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                                                <c:choose>
                                                    <c:when test="${itemCategoryForm.itemCategory.image == null}">                                              
                                                        <p:graphicImage                                                             
                                                            library="images"
                                                            name="lec/no_image.png"
                                                            width="200px" height="190px" 
                                                            >
                                                        </p:graphicImage>  
                                                    </c:when>
                                                    <c:otherwise>
                                                        <p:graphicImage 
                                                            id="picture"
                                                            value="#{itemCategoryForm.applicationMediaURL}#{itemCategoryForm.itemCategory.image}" 
                                                            width="200px" height="190px" 
                                                            rendered="#{itemCategoryForm.itemCategory.image != null}"
                                                            >
                                                        </p:graphicImage> 
                                                        <p:commandButton  icon="ui-icon-trash" value="Delete" update="form" action="#{itemCategoryForm.deleteImage}"/>
                                                    </c:otherwise>
                                                </c:choose>
                                            </p:column>

                                            <p:column>
                                                <p:outputLabel value="Logo" style="font-weight: bold"/>
                                                <p:separator style="border-style: dashed"/>
                                                <p:fileUpload value="${itemCategoryForm.uploadedLogo}"
                                                              mode="simple" 
                                                              sizeLimit="100000"
                                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                                <c:choose>
                                                    <c:when test="${itemCategoryForm.itemCategory.logo == null}">                                              
                                                        <p:graphicImage 
                                                            library="images"
                                                            name="lec/no_image.png"
                                                            width="200px" height="190px" 
                                                            >
                                                        </p:graphicImage>  
                                                    </c:when>
                                                    <c:otherwise>
                                                        <p:graphicImage 
                                                            value="#{itemCategoryForm.applicationMediaURL}#{itemCategoryForm.itemCategory.logo}" 
                                                            width="200px" height="190px" 
                                                            rendered="#{itemCategoryForm.itemCategory.logo != null}"
                                                            >
                                                        </p:graphicImage>  
                                                        <p:commandButton  icon="ui-icon-trash" value="Delete" update="form" action="#{itemCategoryForm.deleteLogo}"/>
                                                    </c:otherwise>
                                                </c:choose>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>                                 
                            </p:row>

                        </p:panelGrid>
                    </p:panel>

                    <p:toolbar style="border-top: none;width: 100%;">  
                        <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                            <p:commandButton  value="Save" action="#{itemCategoryForm.actionSave}" ajax="false" update="@parent,:form:categoryList:orderNumber" />
                            <p:commandButton  value="Cancel" action="#{itemCategoryForm.actionCancel}" ajax="false"  immediate="true" />
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>

                <p:dialog id="modalDialog" 
                          header="#{itemCategoryForm.currentItemCategory.name}"
                          widgetVar="searchDialog" 
                          modal="true" 
                          height="400" 
                          width="600" 
                          showEffect="clip" 
                          hideEffect="clip">  

                    <h:form id="node">  
                        <p:treeTable id="treeTable" 
                                     value="#{itemCategoryForm.root}" 
                                     var="itemCategory" 
                                     selectionMode="single" 
                                     selection="#{itemCategoryForm.selectedNode}" 
                                     style="border-style: none;position: relative" 
                                     >
                            <p:ajax event="select" listener="#{itemCategoryForm.onNodeSelect}" 
                                    update="@form :form:lblParentName, :form:orderNumber" oncomplete="searchDialog.hide();"/>  
                            <f:facet name="header">
                            </f:facet>

                            <p:column style="width:87%">
                                <f:facet name="header">
                                    Name
                                </f:facet>
                                <h:outputText value="#{itemCategory.name}" />
                            </p:column>

                            <p:column style="width:2%;text-align: center" >
                                <f:facet name="header">
                                    Order
                                </f:facet>
                                <h:outputText value="#{itemCategory.orderNumber}" />
                            </p:column>      

                        </p:treeTable>                      
                    </h:form>  

                </p:dialog> 
            </p:fieldset>
        </div>
    </ui:define>
</ui:composition>