<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
        <style>
            .ui-paginator {
                <!--text-align: right ! important -->
            }
            .ui-growl {
                position: absolute;
                right : 38%;               
                top: 1%;                
            }   
        </style>
        <script type="text/javascript">
            function handleSearchRequest(xhr, status, args) {
                if (args.validationFailed || !args.found) {
                    jQuery('#modalDialog').effect("shake", {times: 3}, 100);
                } else {
                    searchDialog.hide();
                    jQuery('#').fadeOut();
                }
            }
        </script>  
    </ui:define>

    <ui:define name="content">      
        <p:growl id="growl"/> 
        <div class="entry" >
            <h:form id="form">
                <p:dataTable id="dataTable" 
                             var="item"
                             paginator="true"
                             rows="15"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="15,30,50"                                                      
                             emptyMessage="No data found with given criteria"
                             widgetVar="tabelItem"  
                             paginatorPosition="top" 
                             tableStyle=""
                             selection="#{itemList.selectedItems}"
                             value="#{itemList.dataModel}"
                             lazy="true"
                             >

                    <f:facet name="header">
                        <p:toolbar style="width: 100%;border-style: none">  
                            <p:toolbarGroup align="left" >
                                <h1 class="title">Items</h1>
                            </p:toolbarGroup>
                            <p:toolbarGroup align="right" style="padding-top: 1%;" >
                                <p:selectOneMenu id="section" 
                                                 value="#{itemList.purchaseSection}" 
                                                 converter="#{purchaseSectionConverter}" 
                                                 style="width:150px;float: right">

                                    <f:selectItems value="#{itemList.purchaseSections}"  
                                                   var="purchaseSection" 
                                                   noSelectionValue="true"
                                                   itemValue="#{purchaseSection}" 
                                                   itemLabel="#{purchaseSection}" />
                                    <p:ajax update="dataTable"  listener="#{itemList.changeSelectedPurchaseSections}" /> 
                                </p:selectOneMenu>   
                                <br></br><br></br>
                                <p:commandButton  value="New" icon="ui-icon-document" action="#{itemList.actionForm}" ajax="false" />
                                <p:commandButton  value="Delete" icon="ui-icon-trash" onclick="confirmDelete.show();"  />
                                <p:commandButton  value="Edit" title="Edit" icon="ui-icon-pencil" action="#{itemList.actionEdit}" update="@(@[id=growl])"/>
                                <p:separator />
                                <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete="searchDialog.show();" />
                            </p:toolbarGroup>

                        </p:toolbar>
                    </f:facet>

                    <p:column selectionMode="multiple" style="width:1px;" >                     
                    </p:column>  

                    <p:column headerText="Name" sortBy="#{item.name}" style="width:78%;" >                      
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column style="text-align: center">
                        <f:facet name="header">
                            Active
                        </f:facet>
                        <h:outputText value="${item.active ? 'Yes' : 'No'}" />
                    </p:column>

                    <p:column headerText="Price" style="width: 12%;text-align:right" >
                        <h:outputText value="#{item.price}" >
                            <f:convertNumber integerOnly="true"/>
                        </h:outputText>
                    </p:column>

                    <p:column style="text-align: center;">
                        <f:facet name="header">
                            Picture
                        </f:facet>
                        <p:graphicImage 
                            id="picture"
                            library="images"
                            name="lec/thumbnails.png"
                            rendered="#{item.image != null}"
                            >
                        </p:graphicImage>                                             

                        <p:overlayPanel for="picture" showEffect="clip" hideEffect="clip" showEvent="mouseover" hideEvent="mouseout"  
                                        styleClass="ui-helper-clearfix" rendered="#{item.image != null}">  
                            <p:graphicImage 
                                value="#{itemList.applicationMediaURL}#{item.image}" 
                                width="310" height="310"  />  
                        </p:overlayPanel>      
                    </p:column>

                    <f:facet name="footer" > 
                        Total Data : #{itemList.dataModel.rowCount}
                    </f:facet>
                </p:dataTable>

                <p:confirmDialog id="confirmDelete" message="Are you sure about destroying the data ?"  
                                 header="Initiating destroy process" severity="alert" widgetVar="confirmDelete">  

                    <p:commandButton id="confirm" value="Yes" update="@(@[id=growl])" oncomplete="confirmDelete.hide()"  
                                     action="#{itemList.actionDelete}"  />  
                    <p:commandButton id="decline" value="No" onclick="confirmDelete.hide();" type="button" />   

                </p:confirmDialog> 

                <p:dialog id="modalDialog" header="Search" widgetVar="searchDialog" modal="true" showEffect="clip" hideEffect="clip" >  
                    <h:form >  

                        <h:panelGrid columns="2" cellpadding="5">  
                            <h:outputLabel for="code" value="Code" />  
                            <p:inputText value="#{itemList.searchCodeKey}" id="code" label="code"  size="50" />  

                            <h:outputLabel for="name" value="Name" />  
                            <p:inputText value="#{itemList.searchNameKey}"  id="name" label="Name"  size="50"  >

                            </p:inputText>  

                            <f:facet name="footer">  
                                <p:commandButton id="searchButton" value="Search" update="@form" 
                                                 action="#{itemList.actionSearch}"   
                                                 oncomplete="handleSearchRequest(xhr, status, args)"/>  
                            </f:facet>  
                        </h:panelGrid>  

                    </h:form>  
                </p:dialog> 
            </h:form>

        </div>


    </ui:define>
</ui:composition>

