<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }            
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>
    <ui:define name="content">
        <div class="entry" >
            <p:fieldset legend="Form Item">  
                <h:form id="form"  enctype="multipart/form-data">
                    <p:messages  showDetail="false" autoUpdate="true"  globalOnly="true"/>  
                    <p:panel id="panel" style="width: 100%;border-style: dashed;">
                        <p:panelGrid  style="margin-top:20px;border-style : hidden !important;" >
                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none;width: 100px;">Active</p:column>  
                                <p:column style="width: 100%">
                                    <p:selectBooleanCheckbox id="active" value="#{itemForm.item.active}" style="width: 100%"/>
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;border-style: none;">Category</p:column>  
                                <p:column >     
                                    <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete="searchCategoryDialog.show()"/>
                                    <p:spacer width="10;"/>
                                    <p:inputText id="lblParentId" type="hidden" value="#{itemForm.item.itemCategory.id}" required="true" style="width: 80%"  />
                                    <h:outputLabel id="lblParentName" value="#{itemForm.item.itemCategory.name}"/>
                                    <p:message for="lblParentId" display="text" />
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;border-style: none;">Options</p:column>  
                                <p:column >     
                                    <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete="searchOptionDialog.show()"/>
                                    <p:spacer width="10;"/>                              
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;">Code</p:column>  
                                <p:column style="width: 100%">
                                    <p:inputText id="code" value="#{itemForm.item.code}" required="true" style="width: 80%"  >
                                        <f:validateLength minimum="2" maximum="10"/>
                                        <p:ajax event="blur" listener="#{itemForm.checkCode}" />                                   
                                    </p:inputText>    
                                    <p:message for="code" display="text"  />
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;">Name</p:column>  
                                <p:column>
                                    <p:inputText id="name" value="#{itemForm.item.name}" required="true" style="width: 80%">
                                        <f:validateLength minimum="2" maximum="255" />
                                    </p:inputText>
                                    <p:message for="name" display="text"/>
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;">Price</p:column>  
                                <p:column>
                                    <p:inputText id="price" value="#{itemForm.item.price}" required="true" >
                                        <f:convertNumber integerOnly="true"/>                                      
                                    </p:inputText>
                                    <p:message for="price" display="text"/>
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;">Discount</p:column>  
                                <p:column>
                                    <p:inputText id="discount" value="#{itemForm.item.discount}" required="true" >
                                        <f:convertNumber integerOnly="true"/>
                                    </p:inputText>
                                    <p:message for="discount" display="text"/>
                                </p:column>
                            </p:row> 

                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none">Description</p:column>  
                                <p:column>
                                    <p:tabView id="tabView" binding="#{itemForm.tabView}" style="width: 100%;border-right: hidden;border-left: hidden;border-bottom: hidden;">

                                    </p:tabView>  
                                </p:column> 
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none;width: 100px;">Image</p:column>  
                                <p:column>
                                    <p:fileUpload value="${itemForm.uploadedImage}"
                                                  mode="simple" 
                                                  sizeLimit="100000" 
                                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                                    <c:choose>
                                        <c:when test="${itemForm.item.image == null}">                                              
                                            <p:graphicImage 
                                                library="images"
                                                name="lec/no_image.png"
                                                width="200px" height="190px" 
                                                >
                                            </p:graphicImage>  
                                        </c:when>
                                        <c:otherwise>
                                            <p:graphicImage 
                                                value="#{itemForm.applicationMediaURL}#{itemForm.item.image}" 
                                                width="200px" height="190px" 
                                                rendered="#{itemForm.item.image != null}"
                                                >
                                            </p:graphicImage> 
                                            <p:commandButton  icon="ui-icon-trash" value="Delete" update="form" action="#{itemForm.deleteImage}"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:column>                                 
                            </p:row>
                        </p:panelGrid> 
                    </p:panel>

                    <p:toolbar style="border-top: none;width: 100%;">  
                        <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                            <p:commandButton  value="Save" action="#{itemForm.actionSave}" ajax="false" update="@parent,:form:itemList" />
                            <p:commandButton  value="Cancel" action="#{itemForm.actionCancel}" ajax="false"  immediate="true"/>
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>

                <p:dialog id="categoryDialog" 
                          header="#{itemForm.currentItemCategory.name}" 
                          widgetVar="searchCategoryDialog" 
                          modal="true" 
                          height="400" 
                          width="600" 
                          showEffect="clip" 
                          hideEffect="clip"
                          closeOnEscape="true">  
                    <h:form>  
                        <p:treeTable id="treeCategory" 
                                     value="#{itemForm.rootCategory}" 
                                     var="itemCategory" 
                                     selectionMode="single" 
                                     selection="#{itemForm.selectedCategoryNode}" 
                                     style="border-style: none;position: relative; height: 100%;"                                       
                                     >
                            <p:ajax event="select" listener="#{itemForm.onCategoryNodeSelect}" update="@form :form:lblParentName, :form:lblParentId" oncomplete="searchCategoryDialog.hide();"/>  

                            <f:facet name="header">
                            </f:facet>

                            <p:column style="width:87%">
                                <f:facet name="header">
                                    Name
                                </f:facet>
                                <h:outputText value="#{itemCategory.name}" />
                            </p:column>

                            <p:column style="width:2%;text-align: center" >
                                <f:facet name="header">
                                    Order
                                </f:facet>
                                <h:outputText value="#{itemCategory.orderNumber}" />
                            </p:column>      

                        </p:treeTable>

                    </h:form>                
                </p:dialog> 


                <p:dialog id="optionDialog"                           
                          widgetVar="searchOptionDialog" 
                          header="Options"
                          modal="true" 
                          height="400" 
                          width="600" 
                          showEffect="clip" 
                          hideEffect="clip" closable="true"
                          closeOnEscape="true">  

                    <h:form>  
                        <p:treeTable id="treeOption" 
                                     value="#{itemForm.rootOption}" 
                                     var="itemOption" 
                                     selectionMode="normal"
                                     selection="#{itemForm.selectedOptionNodes}" 
                                     style="border-style: none;position: relative" 
                                     >

                            <f:facet name="header">
                            </f:facet>

                            <p:column style="width:87%">
                                <f:facet name="header">
                                    Name
                                </f:facet>
                                <h:outputText value="#{itemOption.name}" />
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    Price
                                </f:facet>
                                <h:outputText value="#{itemOption.price}" />
                            </p:column>                         

                        </p:treeTable>    
                        <p:toolbar>
                            <p:toolbarGroup align="right" style="padding-top: 0%" >
                                <p:commandButton value="Ok"  oncomplete="searchOptionDialog.hide();" icon="ui-icon-check"/>                              
                            </p:toolbarGroup>
                        </p:toolbar>

                    </h:form> 
                </p:dialog> 

            </p:fieldset>
        </div>

    </ui:define>
</ui:composition>