<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }            
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="entry" >
            <p:fieldset legend="Form Language">  
                <h:form id="form" enctype="multipart/form-data">
                    <p:panel id="panel"  style="width: 100%;border-style: dashed;">
                        <p:panelGrid  style="margin-top:20px;border-style : hidden !important;">
                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none;width: 100px;">Active</p:column>  
                                <p:column style="width: 100%">
                                    <p:selectBooleanCheckbox id="active" value="#{languageForm.language.active}" style="width: 100%"/>
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none;width: 100px;">Default</p:column>  
                                <p:column style="width: 100%">
                                    <p:selectBooleanCheckbox id="default" value="#{languageForm.language.defaultLanguage}" style="width: 100%"/>
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="width: 20%;font-weight: bold;">Name</p:column>  
                                <p:column style="width: 80%;">
                                    <p:selectOneMenu id="name" 
                                                     value="#{languageForm.language.languageCode}" 
                                                     converter="#{languageConverter}" 
                                                     style="width:150px;">

                                        <f:selectItems value="#{languageForm.languageCodes}"  
                                                       var="language" 
                                                       noSelectionValue="true"
                                                       itemValue="#{language}" 
                                                       itemLabel="#{language}" />                                     
                                    </p:selectOneMenu>  
                                </p:column>
                            </p:row> 

                            <p:row> 
                                <p:column style="width: 20%;font-weight: bold;">Original Name</p:column>  
                                <p:column style="width: 80%;">
                                    <p:inputText id="originalname" value="#{languageForm.language.name}" required="true" style="width: 80%"  >
                                        <f:validateLength minimum="2" maximum="255"/>
                                    </p:inputText>
                                    <p:message for="originalname" display="text"/>
                                </p:column>
                            </p:row>

                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none;width: 100px;">Image</p:column>  
                                <p:column>
                                    <p:fileUpload value="#{languageForm.uploadedImage}"
                                                  mode="simple" 
                                                  sizeLimit="100000" 
                                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                                    <c:choose>
                                        <c:when test="#{languageForm.language.image == null}">                                              
                                            <p:graphicImage 
                                                library="images"
                                                name="lec/no_image.png"
                                                width="128px" height="128px" 
                                                >
                                            </p:graphicImage>  
                                        </c:when>
                                        <c:otherwise>
                                            <p:graphicImage 
                                                value="#{languageForm.applicationImageURL}#{languageForm.language.image}" 
                                                width="128px" height="128px" 
                                                rendered="#{languageForm.language.image != null}"
                                                >
                                            </p:graphicImage> 
                                            <p:commandButton  icon="ui-icon-trash" value="Delete" update="form" action="#{languageForm.deleteImage}"/>
                                        </c:otherwise>
                                    </c:choose>
                                </p:column>                                 
                            </p:row>

                        </p:panelGrid>
                    </p:panel>

                    <p:toolbar style="border-top: none;width: 100%;">  
                        <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                            <p:commandButton  value="Save" action="#{languageForm.actionSave}" ajax="false" />
                            <p:commandButton  value="Cancel" action="#{languageForm.actionCancel}" ajax="false" immediate="true"  />
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>
            </p:fieldset>
        </div>
    </ui:define>
</ui:composition>