<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">

        </style>
        <script type="text/javascript">

        </script>
    </ui:define>

    <ui:define name="content">      
        <div class="entry" >
            <h:form id="form">
                <p:growl id="growl"/> 

                <p:dataTable value="#{languageList.languageSelectableDataModel}" 
                             var="language" 
                             id="dataTable"
                             paginator="false" 
                             rows="15" 
                             paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="15,30,60"
                             paginatorPosition="top" 
                             selection="#{languageList.selectedLanguage}"
                             selectionMode="single"
                             >

                    <f:facet name="header">
                        <p:toolbar style="width: 100%;border-style: none">  
                            <p:toolbarGroup align="left"  >
                                <h1 class="title">Languages</h1>
                            </p:toolbarGroup>
                            <p:toolbarGroup align="right" style="padding-top: 2%;" >     
                                <p:commandButton  value="New" icon="ui-icon-document" action="#{languageList.actionForm}" immediate="true"/>
                                <p:commandButton  value="Delete" icon="ui-icon-trash" onclick="confirmDelete.show();" />
                                <p:commandButton  value="Edit" title="Edit" icon="ui-icon-pencil"  onclick="tableDialog.show();" action="#{languageList.actionEdit}"  />
                                <p:separator />
                                <p:commandButton value="Search" title="Search" icon="ui-icon-search"  />
                            </p:toolbarGroup>                            
                        </p:toolbar>
                    </f:facet>


                    <p:column style="width:70%;">  
                        <f:facet name="header">  
                            Name  
                        </f:facet>  
                        <h:outputText value="#{language.name}" />  
                    </p:column>


                    <p:column style="width:5%;text-align: center">  
                        <f:facet name="header"> 
                            Default  
                        </f:facet>  
                        <h:outputText value="${language.defaultLanguage ? 'Yes' : 'No'}" />  
                    </p:column>

                    <p:column style="width:5%;text-align: center;">  
                        <f:facet name="header"> 
                            Active  
                        </f:facet>  
                        <h:outputText value="${language.active ? 'Yes' : 'No'}" />  
                    </p:column>

                    <p:column style="width:5%;text-align: center;">
                        <f:facet name="header">
                            Picture
                        </f:facet>
                        <p:graphicImage 
                            id="picture"
                            library="images"
                            name="lec/thumbnails.png"
                            rendered="#{language.image != null}"
                            >
                        </p:graphicImage>                                             

                        <p:overlayPanel for="picture" showEffect="clip" hideEffect="clip" showEvent="mouseover" hideEvent="mouseout"  
                                        styleClass="ui-helper-clearfix" rendered="#{language.image != null}">  
                            <p:graphicImage 
                                value="#{languageList.applicationMediaURL}#{language.image}" 
                                width="128" height="128"  />  
                        </p:overlayPanel>      
                    </p:column>

                </p:dataTable>


                <p:confirmDialog id="confirmDelete" message="Are you sure about destroying the data ?"  
                                 header="Initiating destroy process" severity="alert" widgetVar="confirmDelete">  

                    <p:commandButton id="confirm" value="Yes" update="dataTable"  oncomplete="confirmDelete.hide()" action="#{languageList.actionDelete()}" ajax="false"/>

                    <p:commandButton id="decline" value="No" onclick="confirmDelete.hide();" type="button" />   

                </p:confirmDialog>    


            </h:form>




        </div>
    </ui:define>
</ui:composition>

