<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }            
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="entry" >
            <p:fieldset legend="News Ticker">  
                <p:messages  showDetail="false" autoUpdate="true"  globalOnly="true"/>  
                <h:form id="form" >
                    <p:panel id="panel"  style="width: 100%;border-style: dashed;">

                        <p:panelGrid  style="margin-top:20px;border-style : hidden !important;">                         
                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style : hidden !important;">Message</p:column>  
                                <p:column style="width: 90%;">
                                    <p:editor value="#{tickerController.ticker.message}" width="700"/>
                                </p:column>                             
                            </p:row>                                 
                        </p:panelGrid>
                    </p:panel>

                    <p:toolbar style="border-top: none;width: 100%;">  
                        <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                            <p:commandButton  value="Save" action="#{tickerController.actionSave}" ajax="false" />                         
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>
            </p:fieldset>
        </div>
    </ui:define>
</ui:composition>