<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }            
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="entry" >
            <p:fieldset legend="Form Option">  
                <h:form id="form">
                    <p:panel id="panel"  style="width: 100%;border-style: dashed;">
                        <p:panelGrid  style="margin-top:20px;border-style : hidden !important;">      
                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none;width: 100px;">Active</p:column>  
                                <p:column style="width: 100%">
                                    <p:selectBooleanCheckbox id="active" value="#{itemOptionForm.itemOption.active}" style="width: 100%"/>
                                </p:column>
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;border-style: none;">Parent Option</p:column>  
                                <p:column >     
                                    <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete="searchDialog.show()"/>
                                    <p:spacer width="10;"/>
                                    <h:outputLabel id="lblParentName" value="#{itemOptionForm.parentItemOption.name}"/>
                                </p:column>
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;">Name</p:column>  
                                <p:column>
                                    <p:inputText id="name" value="#{itemOptionForm.itemOption.name}" required="true" style="width: 80%" >
                                        <f:validateLength minimum="2" maximum="255"/>
                                    </p:inputText>
                                    <p:message for="name" display="text"/>
                                </p:column> 
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;">Price</p:column>  
                                <p:column>
                                    <p:inputText id="price" value="#{itemOptionForm.itemOption.price}" required="true" style="width: 80%" >
                                        <f:convertNumber integerOnly="true"/>
                                    </p:inputText>
                                    <p:message for="price" display="text"/>
                                </p:column> 
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;">Order Number</p:column>  
                                <p:column>
                                    <p:inputText id="orderNumber" value="#{itemOptionForm.itemOption.orderNumber}">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:inputText>
                                    <p:message for="orderNumber" display="text"/>
                                </p:column>
                            </p:row>
                            <p:row> 
                                <p:column style="font-weight: bold;float: left;border-style: none">Description</p:column>  
                                <p:column>
                                    <p:tabView id="tabView" binding="#{itemOptionForm.tabView}" style="width: 100%;border-right: hidden;border-left: hidden;border-bottom: hidden;">

                                    </p:tabView>  
                                </p:column> 
                            </p:row>
                        </p:panelGrid>
                    </p:panel>

                    <p:toolbar style="border-top: none;width: 100%;">  
                        <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                            <p:commandButton  value="Save" action="#{itemOptionForm.actionSave}" ajax="false" update="@parent,:form:categoryList:orderNumber" />
                            <p:commandButton  value="Cancel" action="#{itemOptionForm.actionCancel}" ajax="false"  immediate="true" />
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>

                <p:dialog id="modalDialog" 
                          header="#{itemOptionForm.currentItemOption.name}"
                          widgetVar="searchDialog" 
                          modal="true" 
                          height="400" 
                          width="600" 
                          showEffect="clip" 
                          hideEffect="clip">  

                    <h:form id="node">  
                        <p:treeTable id="treeTable" 
                                     value="#{itemOptionForm.root}" 
                                     var="itemOption" 
                                     selectionMode="single" 
                                     selection="#{itemOptionForm.selectedNode}" 
                                     style="border-style: none;position: relative" 
                                     >
                            <p:ajax event="select" listener="#{itemOptionForm.onNodeSelect}" 
                                    update="@form :form:lblParentName, :form:orderNumber" oncomplete="searchDialog.hide();"/>  
                            <f:facet name="header">
                            </f:facet>

                            <p:column style="width:87%">
                                <f:facet name="header">
                                    Name
                                </f:facet>
                                <h:outputText value="#{itemOption.name}" />
                            </p:column>

                            <p:column style="width:2%;text-align: center" >
                                <f:facet name="header">
                                    Order
                                </f:facet>
                                <h:outputText value="#{itemOption.orderNumber}" />
                            </p:column>      

                        </p:treeTable>                      
                    </h:form>  

                </p:dialog> 
            </p:fieldset>
        </div>
    </ui:define>
</ui:composition>