<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }      
            .ui-paginator {
                <!--text-align: right ! important -->
            }
            .ui-growl {
                position: absolute;
                right : 38%;               
                top: 1%;                
            }
            .ui-treetable .ui-treetable-data table tr{
                border-style: none;
            }
        </style>
        <script type="text/javascript">
            function handleSearchRequest(xhr, status, args) {
                if (args.validationFailed || !args.found) {
                    jQuery('#modalDialog').effect("shake", {times: 3}, 100);
                } else {
                    searchDialog.hide();
                    jQuery('#').fadeOut();
                }
            }
        </script>  
    </ui:define>

    <ui:define name="content">      

        <div class="entry" >
            <h:form id="form">
                <p:growl id="messages"/> 
                <p:treeTable id="treeTable" value="#{itemOptionList.root}" var="itemOption" selectionMode="single" 
                             selection="#{itemOptionList.selectedNode}" >

                    <f:facet name="header">
                        <p:toolbar style="width: 100%;border-style: none">  
                            <p:toolbarGroup align="left"  >
                                <h1 class="title">Options</h1>
                            </p:toolbarGroup>                            
                            <p:toolbarGroup align="right" style="padding-top: 1%;" >                                               
                                <p:selectOneMenu id="section" 
                                                 value="#{itemOptionList.purchaseSection}" 
                                                 converter="#{purchaseSectionConverter}" 
                                                 style="width:150px;float: right">

                                    <f:selectItems value="#{itemOptionList.purchaseSections}"  
                                                   var="purchaseSection" 
                                                   noSelectionValue="true"
                                                   itemValue="#{purchaseSection}" 
                                                   itemLabel="#{purchaseSection}" />
                                    <p:ajax update="treeTable"  listener="#{itemOptionList.changeSelectedPurchaseSections}" /> 
                                </p:selectOneMenu>  
                                <br></br><br></br>
                                <p:commandButton id="newBtn" value="New" icon="ui-icon-document" action="#{itemOptionList.actionForm}" ajax="false" />
                                <p:commandButton  value="Delete" icon="ui-icon-trash" onclick="confirmDelete.show();" />
                                <p:commandButton  value="Edit" title="Edit" icon="ui-icon-pencil" action="#{itemOptionList.actionEdit}" update="@(@[id=growl])"/>
                                <p:separator />
                                <p:commandButton value="Search" title="Search" icon="ui-icon-search" />
                            </p:toolbarGroup>
                        </p:toolbar>
                    </f:facet>

                    <p:column style="width:80%">
                        <f:facet name="header">
                            Name
                        </f:facet>
                        <h:outputText value="#{itemOption.name}" />
                    </p:column>

                    <p:column style="text-align: center">
                        <f:facet name="header">
                            Active
                        </f:facet>
                        <h:outputText value="${itemOption.active ? 'Yes' : 'No'}" />
                    </p:column>

                    <p:column style="text-align: right;width: 10%;">
                        <f:facet name="header">
                            Price
                        </f:facet>
                        <h:outputText value="#{itemOption.price}" />
                    </p:column>

                    <p:column style="width:5%;text-align: center" >
                        <f:facet name="header">
                            Order
                        </f:facet>
                        <h:outputText value="#{itemOption.orderNumber}" />
                    </p:column>               

                </p:treeTable>

                <p:confirmDialog id="confirmDelete" message="Are you sure about destroying the data ?"  
                                 header="Initiating destroy process" severity="alert" widgetVar="confirmDelete">  

                    <p:commandButton id="confirm" value="Yes" update="@(@[id=growl])" oncomplete="confirmDelete.hide()"  
                                     action="#{itemOptionList.actionDelete}" />  
                    <p:commandButton id="decline" value="No" onclick="confirmDelete.hide();" type="button" />   

                </p:confirmDialog>  

            </h:form>  
        </div>

    </ui:define>
</ui:composition>

