<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }            
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="entry" >
            <p:fieldset legend="Form Table">  
                <h:form id="form" >
                    <p:panel id="panel"  style="width: 100%;border-style: dashed;">
                        <p:panelGrid  style="margin-top:20px;border-style : hidden !important;">
                            <p:row> 
                                <p:column style="width: 20%;font-weight: bold;">Table Name</p:column>  
                                <p:column style="width: 80%;">
                                    <p:inputText id="name" value="#{roomForm.room.name}" required="true" style="width: 80%"  >
                                        <f:validateLength minimum="2" maximum="255"/>
                                    </p:inputText>
                                    <p:message for="name" display="text"/>
                                </p:column>
                            </p:row>                           

                        </p:panelGrid>
                    </p:panel>

                    <p:toolbar style="border-top: none;width: 100%;">  
                        <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                            <p:commandButton  value="Save" action="#{roomForm.actionSave}" ajax="false" />
                            <p:commandButton  value="Cancel" action="#{roomForm.actionCancel}" ajax="false" immediate="true"  />
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>
            </p:fieldset>
        </div>
    </ui:define>
</ui:composition>