<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }            
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="entry" >
            <p:fieldset legend="Form User">  
                <h:form id="form" >
                    <p:panel id="panel"  style="width: 100%;border-style: dashed;">
                        <p:panelGrid  style="margin-top:20px;border-style : hidden !important;">
                            <p:row> 
                                <p:column style="width: 20%;font-weight: bold;">Username</p:column>  
                                <p:column style="width: 80%;">
                                    <p:inputText id="username" value="#{userForm.user.username}" required="true" style="width: 80%"  >
                                        <f:validateLength minimum="2" maximum="255"/>
                                    </p:inputText>
                                    <p:message for="username" display="text"/>
                                </p:column>
                            </p:row>     

                            <p:row> 
                                <p:column style="width: 20%;font-weight: bold;">Password</p:column>  
                                <p:column style="width: 80%;">
                                    <p:inputText id="password" type="password" value="#{userForm.user.password}" required="true" style="width: 80%"  >
                                        <f:validateLength minimum="2" maximum="255"/>
                                    </p:inputText>
                                    <p:message for="password" display="text"/>
                                </p:column>
                            </p:row> 

                            <p:row> 
                                <p:column style="width: 20%;font-weight: bold;">Role</p:column>  
                                <p:column style="width: 80%;">
                                    <p:selectOneMenu id="section" 
                                                     value="#{userForm.user.role}" 
                                                     converter="#{roleConverter}" 
                                                     style="width:150px;">

                                        <f:selectItems value="#{userForm.roles}"  
                                                       var="role" 
                                                       noSelectionValue="true"
                                                       itemValue="#{role}" 
                                                       itemLabel="#{role}" />                                     
                                    </p:selectOneMenu>  
                                </p:column>
                            </p:row> 


                        </p:panelGrid>
                    </p:panel>

                    <p:toolbar style="border-top: none;width: 100%;">  
                        <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                            <p:commandButton  value="Save" action="#{userForm.actionSave}" ajax="false" />
                            <p:commandButton  value="Cancel" action="#{userForm.actionCancel}" ajax="false" immediate="true"  />
                        </p:toolbarGroup>
                    </p:toolbar>
                </h:form>
            </p:fieldset>
        </div>
    </ui:define>
</ui:composition>