<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
        <style>
            .ui-paginator {
                <!--text-align: right ! important -->
            }            
            .ui-button-icon-only .ui-button-text {
                padding: 0;
                text-indent: -9999999px;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="entry" >
            <h1 class="title">Application Trouble</h1>
            <p>
                <br>Database error</br>
                Please contact your vendor to fix the problem !!!
            </p>    
        </div>
    </ui:define>
</ui:composition>