<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/facelets/tags">

    <f:view contentType="text/html">

        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Pawon | Restaurant</title>
            </f:facet>

            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/pawon.css" />
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/default.css" />
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/syntaxhighlighter/syntaxhighlighter.css" />

            <ui:insert name="head"></ui:insert>

            <script type="text/javascript">
                $(function() {
                    $('.sidebar a').hover(function() {
                        $(this).toggleClass('ui-state-hover');
                    })
                });


            </script> 
            <style>
                .ui-widget { font-size: 0.9em !important; }
                .ui-widget .ui-widget { font-size: 1em !important; }
                .ui-growl {
                    position: absolute;
                    right : 38%;               
                    top: 1%;                
                }
            </style>
        </h:head>

        <h:body>
            <div id="header" class="ui-widget ui-widget-header" style="padding-left: 10px; ">
                <div id="logo">
                    <img src="#{request.contextPath}/images/logo.jpg" alt="Logo" height="100px" style="padding-top: 2px;"/>                    
                </div>

                <div id="menu" class="ui-widget" >
                    <ul id="main" >
                        <p class="copyright">Pawon Version 1.0.0</p>
                    </ul>
                </div>

                <div id="globalthemeswitcher">
                    <h:form>
                        <p:themeSwitcher value="#{themeSwitcherBean.theme}" style="width:175px;"  effect="fade" var="t">
                            <f:selectItem itemLabel="Choose Theme" itemValue="" />
                            <f:selectItems value="#{themeSwitcherBean.advancedThemes}" var="theme" itemLabel="#{theme.name}" itemValue="#{theme}"/>
                            <p:ajax listener="#{themeSwitcherBean.saveTheme}" />

                            <p:column>
                                <h:graphicImage name="images/themes/#{t.image}" />
                            </p:column>

                            <p:column>
                                #{t.name}
                            </p:column>
                        </p:themeSwitcher>
                    </h:form>
                </div>
            </div>

            <sec:isAuthenticated roles="ROLE_ADMIN">
                <div id="page" class="ui-widget">
                    <div id="sidebar" class="ui-widget-content ui-corner-bottom ui-helper-clearfix ui-shadow">                    

                        <sec:ifAnyGranted roles="ROLE_GENERAL,ROLE_ADMIN">
                            <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title" style="margin-top:20px">Billing</h3>
                            <div class="ui-widget submenu-content">
                                <table>
                                    <tr>
                                        <td style="width:25%">
                                            <ul>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuNotification}">Notification</a></li>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuPurchases}">Purchases</a></li>
                                                <sec:ifAnyGranted roles="ROLE_ADMIN">
                                                    <li><a href="#{request.contextPath}/#{navigationController.menuReportPurchase}">Order Report</a></li>
                                                </sec:ifAnyGranted>
                                                <li>&nbsp;</li>                                               
                                            </ul>
                                        </td>                               
                                    </tr>
                                </table>
                            </div>
                        </sec:ifAnyGranted>
                        <sec:ifAnyGranted roles="ROLE_ADMIN">
                            <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title" style="margin-top:10px">Master</h3>
                            <div class="ui-widget submenu-content">
                                <table>
                                    <tr>
                                        <td style="width:25%">
                                            <ul>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuItemCategories}">Categories</a></li>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuItems}">Items</a></li> 
                                                <li><a href="#{request.contextPath}/#{navigationController.menuOptions}">Options</a></li>    
                                                <li><a href="#{request.contextPath}/#{navigationController.menuRooms}">Table</a></li>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuLanguages}">Languages</a></li>
                                                <li>&nbsp;</li>                                                                                               
                                            </ul>
                                        </td>                               
                                    </tr>
                                </table>
                            </div>

                            <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title" style="margin-top:10px">Setting</h3>
                            <div class="ui-widget submenu-content">
                                <table>
                                    <tr>
                                        <td style="width:25%">
                                            <ul>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuUsers}">User</a></li>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuSystemParameters}">System Parameter</a></li> 
                                                <li>&nbsp;</li>
                                            </ul>
                                        </td>                               
                                    </tr>
                                </table>
                            </div>

                            <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title" style="margin-top:10px">TV Promo</h3>
                            <div class="ui-widget submenu-content">
                                <table>
                                    <tr>
                                        <td style="width:25%">
                                            <ul>
                                                <li><a href="#{request.contextPath}/#{navigationController.menuGalleria}">Galleria</a></li> 
                                                <li><a href="#{request.contextPath}/#{navigationController.menuTicker}">News Ticker</a></li>                                                
                                                <li>&nbsp;</li>
                                                <li>&nbsp;</li> 
                                            </ul>
                                        </td>                               
                                    </tr>
                                </table>
                            </div>
                        </sec:ifAnyGranted>
                        <div class="ui-widget submenu-content">
                            <table>
                                <tr>
                                    <td style="width:25%">
                                        <ul>
                                            <li><a href="#{request.contextPath}/logout">Logout</a></li> 
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </td>                               
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div id="content">
                        <div class="post">
                            <ui:insert name="content">...</ui:insert>
                        </div>
                    </div>

                    <div style="clear: both;">&nbsp;</div>
                </div>

                <div id="footer" class="ui-widget" >
                    <p class="copyright">Powered By Dailycode</p>
                </div>

                <ui:insert name="status">
                    <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">
                        <f:facet name="start">
                            <p:graphicImage value="/images/loading.gif" />
                        </f:facet>

                        <f:facet name="complete">
                            <h:outputText value="" />
                        </f:facet>
                    </p:ajaxStatus>
                </ui:insert>
            </sec:isAuthenticated>
        </h:body>

        <ui:insert name="highlight">
            <script language="javascript" src="#{request.contextPath}/syntaxhighlighter/scripts/sh.js"></script>
            <script language="javascript">
                dp.SyntaxHighlighter.ClipboardSwf = '#{request.contextPath}/syntaxhighlighter/scripts/clipboard.swf';
                dp.SyntaxHighlighter.HighlightAll('code');
            </script>
        </ui:insert>

    </f:view>
</html>
